* {
	margin:0;
	padding:0;
}
ul li {
	list-style-type:none;
}
img {
	border:none;
}
a {
	text-decoration:none;}
.clr {
	clear:both;}

body {
	background:rgba(38,38,38,1.00) url(images/bg-wrapper.jpg) no-repeat center 0;
	font:13px 'Roboto', sans-serif;
	color:#fff;
}
	.wrapper {
		max-width:950px;
		margin:0 auto;
	}
		.header {
			overflow:hidden;
			margin-bottom:15px;
		}
			.logo {
				margin:15px 55px 5px 30px;
				float:left;
			}
			.header ul {
				overflow:hidden;
				margin-bottom:40px;
			}
				.header ul li {
					float:left;
					margin-right:10px;
				}
					.header ul li:last-child {
						margin-right:0;
					}
					
					.header ul li a {
						display:block;
						text-align:center;
						color:#fff;
						width:110px;
						padding:70px 0 13px;
					}
					.team {
						background: rgba(184,44,43,1.00) url(images/icon-team.png) center center no-repeat;
					}
					.schedule {
						background:rgba(167,38,37,1.00) url(images/icon-schedule.png) center center no-repeat;
					}
					.news {
						background:rgba(159,36,35,1.00) url(images/icon-news.png) center center no-repeat;
					}
					.multimedia {
						background:rgba(150,34,34,1.00) url(images/icon-multimedia.png) center center no-repeat;
					}
					.sponsors {
						background: rgba(141,32,31,1.00) url(images/icon-sponsors.png) center center no-repeat;
					}
					.shop {
						background:rgba(131,30,29,1.00) url(images/icon-shop.png) center center no-repeat;
					}
			.header h1 {
				font:36px Verdana, Geneva, sans-serif;
				font-stretch:ultra-condensed;
				color:#f1f1f1;
				margin-bottom:5px;
			}
				.header h1 span {
					font-weight:normal;
					font-size:25px;
					padding-left:20px;
				}
				.header h1 span br {
					display:none;}
			.header em {
				font:normal 15px Verdana;
				color:#f1f1f1;
				font-weight:normal;
				font-stretch:ultra-condensed;
				display:block;
			}
			.header p {
				font:11px Verdana, Geneva, sans-serif;
				color:#d6d6d6;
				line-height:30px;
				position:relative;
				float:left;
				font-stretch:ultra-condensed;
			}
			.arrow {
				display:block;
				position:absolute;
				z-index:2;
				right:65px;
				top:42px;
			}
		.content-main {
			overflow:hidden;
		}
			.content {
				background-color:rgba(32,32,32,0.75);
				width:640px;
				float:left;
				overflow:hidden;
				margin-right:10px;
				padding:15px 20px 15px 10px;
			}
				.content-news {
					overflow:hidden;
					padding-bottom:15px;
				}
					.news-picture {
						float:left;
						margin-right:20px;
					}
					.content-news h2 {
						font-size:17px;
						font-weight:normal;
						margin-bottom:10px;
					}
					.content-news em {
						display:block;
						font-style:normal;
						font-size:11px;
						color:#c0c0c0;
						background:url(images/icon-date.png) no-repeat 291px center;
						text-indent:22px;
						margin-bottom:10px;
					}
					.content-news p {
						margin-bottom:15px;
					}
						.content-news p a {
							color:#dc9d9d;
							text-decoration:underline;
						}
						.content-news p a:hover {
							text-decoration:none;
						}
					.content-news ul {}
						.content-news ul li {
							float:left;
							margin-right:5px;
							color:#c0c0c0;
						}
							.content-news ul li a {
								color:#c0c0c0;
							} 
							.counter-like {
								background:url(images/icon-like.png) no-repeat left center;
								text-indent: 15px;
							}
							.counter-comments {
								background:url(images/icon-comments.png) no-repeat left center;
								text-indent:15px;
							}
							.counter-share {
								background:url(images/icon-share.png) no-repeat left center;
								text-indent:17px;
							}
								.dropdown-menu {
									position:absolute;
									width:85px;
									border:1px solid #dcdcdc;
									border-radius:2px;
									background-color:#fff;
									padding:5px 0 5px 6px;
									z-index:2;
									left:-9999px;
								}
									.dropdown-menu::after {
										content: ''; 
										position: absolute;
										right: 10px; 
										top: -18px;
										border: 10px solid transparent;
										border-bottom: 10px solid #fff;
									}
									ul.dropdown-menu li {
										float:left;
										width:23px;
									}
								.share {
									position:relative;
								}
									.share:hover .dropdown-menu {
										left:-25px;
										top:20px;
									}
				.dividingLine {
					margin:0 0 15px 0;
				}
				.allNews {
					float:right;
					background-color:rgba(141,32,31,1.00);
					height:30px;
					width:120px;
				}
					.allNews a {
						text-align:center;
						display:block;
						color:#fff;
						line-height:30px;
					}
			.right-bar {
				overflow:hidden;
				float:right;
			}
				.data-box {
					overflow:hidden;
					margin-bottom:10px;
				}
					.data {
						width:70px;
						padding:12px 0 10px;
						float:left;
						margin-right:10px;
						background:url(images/bg-date.png) no-repeat left top;
					}
						.data h1 {
							text-align:center;
							font-size:26px;
							line-height:26px;
						}
						.data p {
							font-size:15px;
							text-align:center;
							line-height:16px;
						}
					.data-box ul {
						width:190px;
						float:right;
					}
						.data-box ul li {
							background-color:rgba(25,25,25,1.00);
							width:170px;
							padding:10px;
							cursor:pointer;
						}
							.data-box ul li:hover {
								background-color: rgba(58,58,58,1.00);
								width:170px;
								padding:10px;
							}
							.train {
								background:url(images/icon-train.png) no-repeat 10px 5px;
							}
							.trainIce {
								background:url(images/icon-train-ice.png) no-repeat 10px 5px;
							}
							.party {
								background:url(images/icon-party.png) no-repeat 10px 5px;
							}
							.game {
								background:url(images/icon-all-day.png) no-repeat 10px 5px;
							}
							.clock {
								text-indent:42px;
								margin-bottom:10px;
							}
				.allSchedule {
					float:right;
					background-color:rgba(141,32,31,1.00);
					height:42px;
					width:100%;
					margin-bottom:10px;
				}
					.allSchedule a {
						text-align:center;
						display:block;
						color:#fff;
						line-height:42px;
					}
				.fb-widget {
					width:268px;}
		.ourTeam {
			width:100%;
			margin-bottom:10px;
		}
			.ourTeam ul {
				overflow:hidden;
			}
				.ourTeam ul li {
					float:left;
					width:310px;
					margin-right:10px;
				}
					.ourTeam ul li:last-child {
						margin-right:0;
					}
					.ourTeam ul li p {
						font-size:17px;
						text-indent:45px;
						margin-top:188px;
						padding:10px 0 10px;
					}
						.ourTeam ul li p span {
							display:block;
							text-indent:45px;
							font-size:15px;
							font-weight:lighter;
						}
					.firstCoach {
						background:url(images/photo-coach.jpg) no-repeat left top;
					}
						.firstCoach-inf {
							background: rgba(141,32,31,0.81) url(images/icon-coach.png) no-repeat 10px 7px;
						}
					.secondCoach {
						background:url(images/photo-coach.jpg) no-repeat left top;
					}
						.secondCoach-inf {
							background:rgba(141,32,31,0.81) url(images/icon-coach.png) no-repeat 10px 7px;
						}
					.beastPlayer {
						background:url(images/photo-coach.jpg) no-repeat left top;
					}
						.beastPlayer-inf {
							background:rgba(141,32,31,0.81) url(images/icon-beast-player.png) no-repeat 10px 7px;
						}
					
	footer {
		width:100%;
		background: rgba(44,44,44,1.00);
		overflow:hidden;
	}
		.sponsors-footer {
			width:960px;
			margin:0 auto;
			height:140px;
		}
			.sponsors-box1, .sponsors-box2, .sponsors-box3, .sponsors-box4 {
				float:left;
				width:25%;
				height:100%;
			}
			.sponsors-box1 {
				background:url(images/steam-logo.png) no-repeat center center;
			}
			.sponsors-box2 {
				background:url(images/hladik-logo.png) no-repeat center center;
			}
			.sponsors-box3 {
				background:url(images/triolan-logo.png) no-repeat center center;
			}
			.sponsors-box4 {
				background:url(images/cartuz-logo.png) no-repeat center center;
			}
		footer p {
			text-align:center;
			padding:20px 0 30px;
			background-color: rgba(34,34,34,1.00);
			font-size:17px;
			font-weight:300;
		}

@media only screen and (min-width:769px) and (max-width:1060px) {
	
	.header {
		padding-left:15px;}
		.logo {
			display:none;}
		.header ul {
			width:98%;
			margin:0 auto 10px;}
			.header ul li {
				width:15%;}
				.header ul li {
					width:15%;}
				.header ul li a {
					padding:70px 0 10px;
					text-align:center;
					width:100%;}
		.header em {
			font:20px Verdana, Geneva, sans-serif;
			margin-bottom:5px;}
		.header p {
			font:17px Verdana, Geneva, sans-serif;
			line-height:20px;
			font-stretch:ultra-condensed;
		}
		.header p br {
			display:none;}
		.arrow {
			display:inline;
			position:static;}
	.content {
		width:95%;
		float:none;}
		.allNews {
			float:none;
			margin:0 auto}
			.news-picture {
				display:block;
				float:none;
				width:300px;
				margin:0 auto 10px;}
			.content-news p {
				font-size:16px;}
				.content-news ul {
					width:100%;}
				.content-news ul li a {
					font-size:20px;}
	.right-bar {
		float:left;
		width:95%;}
		.data-box {
			float:left;
			width:45%;
			margin-right:15px;}
			.data {
				float:none;
				}
			.data-box ul{
				float:none;
				width:100%;}
				.data-box ul li {
					width:100%;
				}
					.data-box ul li p {
					width:100%;
					font-size:22px;
				}
			.allSchedule {
				width:150px;
				float:none;
				margin:0 auto 10px;}
			.fb-widget {
				display:none;}
	.ourTeam {
		width:95%;
		margin-left:15px;}
		.ourTeam ul li {
			margin-bottom:10px;}
	.sponsors-footer {
		width:95%;}
	
	
}
						
@media only screen and (min-width:681px) and (max-width:768px) {
	
	.header {
		padding-left:15px;}
		.logo {
			display:none;}
		.header ul {
			width:98%;
			margin:0 auto 10px;}
			.header ul li {
				width:15%;}
				.header ul li {
					width:15%;}
				.header ul li a {
					padding:70px 0 10px;
					text-align:center;
					width:100%;}
		.header em {
			font:20px Verdana, Geneva, sans-serif;
			margin-bottom:5px;}
		.header p {
			font:17px Verdana, Geneva, sans-serif;
			line-height:20px;
			font-stretch:ultra-condensed;
		}
		.header p br {
			display:none;}
		.arrow {
			display:inline;
			position:static;}
	.content {
		width:95%;
		float:none;}
		.allNews {
			float:none;
			margin:0 auto}
			.news-picture {
				display:block;
				float:none;
				width:300px;
				margin:0 auto 10px;}
			.content-news p {
				font-size:16px;}
				.content-news ul {
					width:100%;}
				.content-news ul li a {
					font-size:20px;}
	.right-bar {
		float:left;
		width:95%;}
		.data-box {
			float:left;
			width:45%;
			margin-right:15px;}
			.data {
				float:none;
				}
			.data-box ul{
				float:none;
				width:100%;}
				.data-box ul li {
					width:100%;
				}
					.data-box ul li p {
					width:100%;
					font-size:22px;
				}
			.allSchedule {
				width:150px;
				float:none;
				margin:0 auto 10px;}
			.fb-widget {
				display:none;}
	.ourTeam {
		width:95%;
		margin-left:15px;}
		.ourTeam ul li {
			margin-bottom:10px;}
	.sponsors-footer {
		width:95%;}
	
}

@media only screen and (min-width:320px) and (max-width:680px) {
	
	.header {
		padding-left:15px;}
		.logo {
			display:none;}
		.header ul {
			width:98%;
			margin:0 auto 10px;}
			.header ul li {
				width:15%;}
				.header ul li {
					width:15%;}
				.header ul li a {
					padding:70px 0 10px;
					text-align:center;
					width:100%;}
		.header em {
			font:20px Verdana, Geneva, sans-serif;
			margin-bottom:5px;}
		.header p {
			font:17px Verdana, Geneva, sans-serif;
			line-height:20px;
			font-stretch:ultra-condensed;
		}
		.header p br {
			display:none;}
		.arrow {
			display:inline;
			position:static;}
	.content {
		width:95%;
		float:none;}
		.allNews {
			float:none;
			margin:0 auto}
			.news-picture {
				display:block;
				float:none;
				width:300px;
				margin:0 auto 10px;}
			.content-news p {
				font-size:16px;}
				.content-news ul {
					width:100%;}
				.content-news ul li a {
					font-size:20px;}
	.right-bar {
		float:left;
		width:95%;}
		.data-box {
			float:left;
			width:45%;
			margin-right:15px;}
			.data {
				float:none;
				}
			.data-box ul{
				float:none;
				width:100%;}
				.data-box ul li {
					width:100%;
				}
					.data-box ul li p {
					width:100%;
					font-size:22px;
				}
			.allSchedule {
				width:150px;
				float:none;
				margin:0 auto 10px;}
			.fb-widget {
				display:none;}
	.ourTeam {
		width:95%;
		margin-left:15px;}
		.ourTeam ul li {
			margin-bottom:10px;}
	.sponsors-footer {
		width:95%;}
}



.fb_iframe_widget {
		width:157px;
	}
